
.card-harry {
  margin: 5px 0px;
  height: 400px;
  width: 270px;
  
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &:hover > &__hover{
      visibility: visible;
      transform: translateY(0);
      
  }


  &__img {
    height: 100%;
    width: 100%;
    
    object-fit: cover;
    object-position: center;
  }
  &__hover {
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 20%;
    display: flex;
    align-items: center;
    width: 100%;
    background: rgba(156, 156, 156, 0.432);
    color: white;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 0.3s ease-out;
    
    h2{
        font-size: 28px;
        letter-spacing: 2;
        font-weight: 300;
        text-align: center;
        width: 100%;
    }
  }
}

.block {
  padding: 20px 0px;
  background-color: black;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.add-character-btn{
  background: none;
  border: 1px solid white;
  padding: 10px 0px;
  transition: all .4s ease-in-out;

  &:hover{
    background: rgba(255, 255, 255, 0.432);
  }

  span{
    color:white;
    font-size: 30px;

  }
}
