<section class="houses">
  <div class="container-xl">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="houses__shields">
          <img
            class="houses__img"
            src="./../../../assets/images/gryfindor.png"
            alt=""
          />
          <h2 class="houses__title">Gryffindor</h2>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="houses__shields">
          <img
            class="houses__img"
            src="./../../../assets/images/hufflepuff.png"
            alt=""
          />
          <h2 class="houses__title">hufflepuff</h2>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="houses__shields">
          <img
            class="houses__img"
            src="./../../../assets/images/ravenclaw.png"
            alt=""
          />
          <h2 class="houses__title">ravenclaw</h2>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="houses__shields">
          <img
            class="houses__img"
            src="./../../../assets/images/slytheryn.png"
            alt=""
          />
          <h2 class="houses__title">slytherin</h2>
        </div>
      </div>
    </div>
  </div>
</section>
