<header class="b-header">
  <div>
      <h1 class="b-header__logo">Harry Potter</h1>
    </div>
  <nav class="b-header__nav">
    <!-- <img class="b-header__logo animation-target" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Harry_Potter_wordmark.svg/800px-Harry_Potter_wordmark.svg.png" alt=""> -->
    
    
    <a class="b-header__links" routerLink="" routerLinkActive ="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a class="b-header__links" routerLink="characters" routerLinkActive ="active-link" [routerLinkActiveOptions]="{exact:true}">Characters</a>
    <a class="b-header__links" routerLink="houses" routerLinkActive ="active-link" [routerLinkActiveOptions]="{exact:true}">Houses</a>
    <a class="b-header__links" routerLink="movies" routerLinkActive ="active-link" [routerLinkActiveOptions]="{exact:true}">Movies</a>
    <audio
      src="../../../../assets/audio/Harry Potter Theme (192 kbps).mp3" autoplay 
    ></audio>
  </nav>
</header>
